body {
    max-width: 1240px;
    margin: 0 auto; /* Để căn giữa nội dung theo chiều ngang */
}

header {
    display: flex;
    width: 100%;
    align-items: center; /* Canh giữa các phần tử theo chiều dọc */
    color: #5b5858;
    border-bottom: 1px rgba(201, 184, 184, 0.87) solid;
}

.hotline {
    font-size: 11pt;
    flex: 1; /* Cho phần tử hotline mở rộng để đẩy .container_header_select vào bên phải */
}

.container_header_select {
    display: flex;
    justify-content: flex-end; /* Đặt nội dung bên trong .container_header_select ở bên phải */
    align-items: center; /* Canh giữa các phần tử theo chiều dọc */
}

.header_select ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /* Canh giữa các phần tử theo chiều dọc */
}

.header_select li {
    display: flex;
    align-items: center; /* Canh giữa các phần tử theo chiều dọc */
    margin-right: 20px; /* Điều chỉnh khoảng cách giữa các mục nếu cần */
}

.material-symbols-outlined {
    margin-right: 5px; /* Điều chỉnh khoảng cách giữa biểu tượng và chữ nếu cần */
}

.form-select {
    border: aliceblue ;
    vertical-align: middle;
    margin: 0;
    color: #5b5858;
}
nav {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */


}
.container_nav
{
    /*justify-content: center;*/
    align-items: center;
    display: flex;
    width: 92%;
}
.social
{
    align-items: center;
    width: 20%;
}
.social svg
{
    width: 15%;
}
.logo {
    width: 50%;
    position: relative;
}

.logo img {
    width: 98%;
    height: 162px; /* Để bảo đảm tỷ lệ khung hình chính xác */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.search-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    align-items: center;
}

.search {
    padding-left: 2%;
    width: 25%;
    display: flex;
    align-items: center; /* Canh giữa các phần tử theo chiều dọc */
    position: relative;
}

.form-control {
    flex: 1; /* Để input mở rộng và lấp đầy không gian còn lại trong .search_cart */
    padding-right: 30px; /* Điều chỉnh khoảng cách bên phải của input để chứa biểu tượng */
}

.search svg {
    position: absolute;
    top: 50%;
    right: 10px; /* Điều chỉnh khoảng cách bên phải của biểu tượng */
    transform: translateY(-50%);
    cursor: pointer; /* Thêm con trỏ tương tác */
    width: 16pt;
}
.cart
{
    padding-left: 2%;
    align-items: center;
    display: flex;
    width: 5%;

}
.cart span
{
    color: rgba(208, 48, 91, 0.89);
}

section
{
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 80px; /* Điều chỉnh chiều cao của nav nếu cần */
}
.container_section a
{
    color: #5b5858;
    font-weight: 700;
}

.container_section a:hover
{
    color: hotpink;
}

.container_section a:focus {
    color: hotpink; /* Điều chỉnh màu khi liên kết được chọn */
}

main
{
    display: flex;
    justify-content: center;
}
.container_main
{
    width: 90%;
    justify-content: center;
}
.panel p
{
    font-weight: 800;
    font-size: 14pt;
    color: #e81243;
    justify-content: center;
    width: 100%;
    display: flex;
}
.register_Login
{
    justify-content: center;
    width: 90%;
    display: flex;
}
.register_Login button
{
    background-color: #fa8196;
    border: 1px solid #fa8196;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    justify-content: center;
}
.register
{
    width: 65%;
    margin-right: 5%;
    border: 1px solid darkgrey;
    padding: 30px;
    border-radius: 5px;
    justify-content: center;
}
.select_Account
{
    width: 25%;
    border: 1px solid darkgrey;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.select_Account ul li
{
    list-style: none;
}
.select_Account ul li a
{
    text-decoration: none;
    color: #5b5858;
    font-weight: bolder;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*text-align: center;*/
    /*background-color: #f8cbd3;*/
    padding: 20px 0;
}

.column {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column .column_left,
.column .column_right {
    width: 49%;
}

.column .column_left img {
    width: 80%;
}

.infoShop {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    border-top: 1px solid #bdb5b5;
    background-color: #f1cbd0;
}

.infoShop ul li {
    list-style: none;
}

.infoShop ul li a {
    text-decoration: none;
    color: #5b5858;
}

.infoShop .column1 {
    width: 30%;
    padding-right: 2%;
    padding-left: 1%;
}

.infoShop .column1 img {
    width: 100%;
}

.infoShop .column2 {
    width: 20%;
}
.infoShop .column3
{
    width: 15%;
}
.infoShop .column3 svg {
    width: 15%;
}
.infoShop .column4
{
    width: 35%;
}
/* CSS để cân chỉnh h6 và li thẳng hàng */
.infoShop .column1 h6,
.infoShop .column2 h6,
.infoShop .column3 h6,
.infoShop .column4 h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.infoShop .column2 ul,
.infoShop .column3 ul,
.infoShop .column4 ul{
    padding-left: 0;
    margin-top: 0;
}

