<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&amp;display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="catalog/view/stylesheet/fonts/fontawesome/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" th:href="@{/css/home.css}">

    <title>Trang chủ</title>
</head>
<body>
<footer>
    <div class="column">
        <div class="column_left">
            <h3>Shop hoa tươi BoCongAnh Flowers</h3>
            <h4>Giới thiệu về BoCongAnh Flowers</h4>
            <p>shop hoa tươi FlowerCorner.vn là một trong những tiệm hoa tươi uy tín nhất
                tại TP HCM, Việt Nam. FlowerCorner.vn cung cấp dịch vụ đặt hoa online giao
                tận nơi tại TP HCM, Hà Nội và trên tất cả các tỉnh – thành phố tại Việt Nam.
                Với hệ thống cửa hàng hoa tươi liên kết rộng khắp tất cả các tỉnh – thành phố
                trên toàn quốc, FlowerCorner.vn có thể giúp bạn gửi tặng hoa tươi cho người
                thân ở bất cứ nơi đâu tại Việt Nam. FlowerCorner cam kết mang đến cho bạn
                những sản phẩm hoa tươi chất lượng cao, với mức giá tốt nhất và dịch chuyên
                nghiệp nhất khi sử dụng dịch vụ đặt hoa tươi online giao tận nơi tại
                Flowercorner.vn.
            </p>
            <img src="../static/image/desc.png">
            <p>
                Khi đặt hoa online tại shop hoa tươi FlowerCorner, bạn không chỉ được miễn phí giao hàng trong khu vực nội thành TP HCM, tặng kèm thiệp chúc mừng, mà còn được giảm đến 50k cho đơn hàng đầu tiên. Bên cạnh đó, vào mỗi thứ 6 hàng tuần, bạn cũng sẽ được giảm ngay 10% tối đa lên đến 100k với chương trình ưu đãi Thứ 6 vui vẻ. Đặc biệt, những khách hàng cũ cũng sẽ được giảm giá lên đến 10% cho các đơn hàng tiếp theo.</p>
            <h4>Đặt Hoa Online mọi lúc, mọi nơi</h4>
            <p>
                Ưu điểm của tiệm hoa FlowerCorner đó là cho phép bạn đặt hoa tươi gửi tặng người thân dù bạn đang ở bất cứ nơi đâu, vào bất cứ thời điểm nào chỉ với vài thao tác đơn giản ngay trên website flowercorne.vn hoặc trên ứng dụng Flower Corner.

                Nếu bạn đang phân vân không biết nên lựa chọn loài hoa nào để phù hợp cho từng sự kiện, bạn có thể chat ngay với các nhân viên tư vấn của Flower Corner để được tư vấn lựa chọn mẫu hoa phù hợp nhất.
            </p>
            <h4>Đặt hoa đơn giản, thanh toán dễ dàng</h4>
            <p>Với shop hoa tươi Flower Corner, thay vì mất hàng giờ chạy xe lòng vòng qua các shop hoa tươi gần đây, thì bạn chỉ cần ngồi một chỗ và thực hiện vài thao tác đơn giản trên ứng dụng hoặc website là đã có ngay một mẫu hoa thật đẹp để tặng vợ, bạn gái, người thân hay đối tác. Nếu vẫn cảm thấy chưa yên tâm về chất lượng hoa, bạn có thể yêu cầu nhân viên của FlowerCorner chụp và gửi hình hoa để duyệt trước khi giao.

                Shop hoa FlowerCorner cung cấp cho bạn nhiều lựa chọn về phương thức thanh toán từ: COD, chuyển khoản ngân hàng, thanh toán qua thẻ visa, master card, Paypal… để bạn có thể dễ dàng đặt hoa mà không gặp phải bất cứ trở ngại nào.</p>
        </div>
        <div class="column_right">
            <h4>Đặt hoa online giá tốt – Giao nhanh trong 90p</h4>
            <p>Nếu bạn đang tìm kiếm một trang website đặt hoa online giao tận nơi thì flowercorner.vn là một sự lựa chọn tuyệt vời dành cho bạn. Tại shop hoa tươi FlowerCorner, bạn có thể dễ dàng lựa chọn một mẫu hoa đẹp, ý nghĩa giữa hàng trăm mẫu hoa được thiết kế sẵn để gửi tặng người thân, bạn bè, đối tác trong tất cả các dịp đặc biệt trong năm hay trong những sự kiện như: khai trương, sinh nhật, lễ cưới, lễ tang…

                Ngoài những mẫu hoa có sẵn trên website, shop hoa tươi Flower Corner cũng nhận thiết kế hoa tươi theo yêu cầu với mọi mức giá để đáp ứng mọi nhu cầu của khách hàng. Nhờ thế, việc đặt hoa online tại Flower Corner trở nên nhanh chóng, dễ dàng và đơn giản hơn.

                Đặc biệt, với dịch vụ giao hoa nhanh trong 90 phút, shop hoa tươi FlowerCorner sẽ giúp bạn kịp thời gửi tặng một bó hoa tới người thân, bạn bè nếu như bạn cần đặt gấp trong ngày.</p>
            <h4>Danh mục sản phẩm của FlowerCorner</h4>
            <p>Đến với cửa hàng hoa FlowerCorner, bạn có thể thoải mái lựa chọn giữa hơn 500+ mẫu hoa tươi được thiết kế sẵn theo các chủ đề như:
                Hoa sinh nhật: Hoa tặng sinh nhật vợ, bạn gái, ba mẹ, anh chị, bạn bè, đối tác hay đồng nghiệp.
                Hoa khai trương: hoa chúc mừng khai trương cửa hàng, công ty.
                Hoa cưới: hoa cầm tay cô dâu, hoa cài áo chú rể..
                Hoa tốt nghiệp: hoa tặng bạn bè, người thân trong lễ tốt nghiệp.
                Hoa tang lễ: hoa chia buồn để gửi tới các đám tang.
                Hoa chúc mừng các dịp đặc biệt: Valentine, ngày của mẹ, ngày của cha, ngày quốc tế phụ nữ 8-3, ngày nhà giáo Việt Nam 20/11….

                Đặc biệt, ngoài những mẫu hoa được thiết kế từ các loài hoa trong nước, shop hoa tươi FlowerCorner cũng cung cấp các mẫu hoa nhập khẩu cao cấp, sang trọng.</p>
            <h4>Tại sao nên chọn shop hoa FlowerCorner</h4>
            <p>Không khó để bạn tìm được một cửa hàng hoa cung cấp dịch vụ đặt hoa online giao tận nơi. Vậy tại sao bạn nên sử dụng dịch vụ điện hoa (Flower Delivery) của shop hoa tươi Flower Corner?
                Hoa đẹp, thiết kế đa dạng phù hợp với tất cả sự kiện.
                Thiết kế theo yêu cầu của khách hàng.
                Gửi hình hoa trước khi giao.
                Đội ngũ florists chuyên nghiệp với nhiều năm kinh nghiệm.</p>
            <h4>Cam kết từ shop hoa tươi Flower Corner</h4>
            <p>Flower Corner hiểu rằng, hoa tươi dù không mang nhiều giá trị về mặt vật chất, nhưng lại có ý nghĩa rất lớn về mặt tinh thần. Mỗi một bó hoa gửi đi gửi gắm rất nhiều tình cảm, thông điệp yêu thương mà bạn muốn gửi đến những người thân. Chính vì thế, Flower Corner luôn nỗ lực nâng cao chất lượng sản phẩm và dịch vụ để mang đến bạn những trải nghiệm tuyệt vời nhất khi sử dụng dịch vụ của Flower Corner. Shop hoa tươi Flower Corner cam kết:
                Chỉ sử dụng hoa tươi mới nhập về trong ngày.
                Hoa đẹp và 90% giống như hình.
                Giao hoa nhanh, đúng giờ.
                Nếu bạn đang cần đặt hoa để gửi tặng người thân trong những dịp đặc biệt, gọi ngay 1900 633 045 để được tư vấn hoặc đặt hoa giao nhanh với shop hoa tươi FlowerCorner!</p>
        </div>
    </div>

    <div class="infoShop">
        <div class="column1">
            <img th:src="@{/images/logo.png}">
            <p>Hotline: 19008479-2892467</p>
            <p>Email: BoCongAnh@Flowers.vn</p>
        </div>
        <div class="column2">
            <h6> CHĂM SÓC KHÁCH HÀNG</h6>
            <ul>
                <li><a href="">Giới thiệu</a></li>
                <li><a href="">Liên hệ</a></li>
                <li><a href="">Chính sách vận chuyển</a></li>
                <li><a href="">Câu hỏi thường gặp</a></li>
                <li><a href="">Hình thức thanh toán</a></li>
                <li><a href="">Bảo mật thông tin</a></li>
                <li><a href="">Chính sách hoàn tiền</a></li>
                <li><a href="">Xử lí khiếu nại</a></li>
                <li><a href="">Tại sao nên chọn BoCongAnh Flowers</a></li>
                <li><a href="">Blog</a></li>
            </ul>
        </div>
        <div class="column3">
            <h6>THEO DÕI</h6>
            <ul>
                <li><a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 30 30">
                        <path d="M15,3C8.373,3,3,8.373,3,15c0,6.016,4.432,10.984,10.206,11.852V18.18h-2.969v-3.154h2.969v-2.099c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L19.73,18.18h-3.106v8.697 C22.481,26.083,27,21.075,27,15C27,8.373,21.627,3,15,3z"></path>
                    </svg>
                    Facebook
                </a></li>
                <li><a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 30 30">
                        <path d="M28,6.937c-0.957,0.425-1.985,0.711-3.064,0.84c1.102-0.66,1.947-1.705,2.345-2.951c-1.03,0.611-2.172,1.055-3.388,1.295 c-0.973-1.037-2.359-1.685-3.893-1.685c-2.946,0-5.334,2.389-5.334,5.334c0,0.418,0.048,0.826,0.138,1.215 c-4.433-0.222-8.363-2.346-10.995-5.574C3.351,6.199,3.088,7.115,3.088,8.094c0,1.85,0.941,3.483,2.372,4.439 c-0.874-0.028-1.697-0.268-2.416-0.667c0,0.023,0,0.044,0,0.067c0,2.585,1.838,4.741,4.279,5.23 c-0.447,0.122-0.919,0.187-1.406,0.187c-0.343,0-0.678-0.034-1.003-0.095c0.679,2.119,2.649,3.662,4.983,3.705 c-1.825,1.431-4.125,2.284-6.625,2.284c-0.43,0-0.855-0.025-1.273-0.075c2.361,1.513,5.164,2.396,8.177,2.396 c9.812,0,15.176-8.128,15.176-15.177c0-0.231-0.005-0.461-0.015-0.69C26.38,8.945,27.285,8.006,28,6.937z"></path>
                    </svg>
                    Twitter
                </a></li>
                <li><a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 30 30">
                        <path d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z"></path>
                    </svg>
                    Instagram
                </a></li>

            </ul>
        </div>
        <div class="column4">
            <h6>SHOP HOA BOCONGANH FLOWERS</h6>
            <ul>
                <li>Cửa hàng TP Đà Nẵng: <a href="">193 Nguyễn Lương Bằng, Quận Liên Chiểu, TP Đà Nẵng</a></li>
                <li>Cửa hàng TP Hồ Chí Minh: <a href="">13 Hoàng Hoa Thám, Quận 1, TP Hồ Chí Minh</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>