<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&amp;display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="catalog/view/stylesheet/fonts/fontawesome/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" th:href="@{/css/forgotPassword.css}">
    <title>Trang chủ</title>
</head>
<body>
<th:block th:replace="header.html"></th:block>

<main>
    <div class="container_main">
        <div class="left">
            <h3>Quên mật khẩu?</h3>
            <h5>Nhập địa chỉ e-mail được liên kết với tài khoản của bạn. Nhấp vào gửi để có một liên kết đặt lại mật khẩu được gửi qua email cho bạn.</h5>
            <h4>Địa chỉ email của bạn</h4>
            <form class="forgotPassword" id="forgotPassword" onsubmit="submitForm(); return false;">
                <div class="login">
                    <h6>Username:</h6>
                    <input type="text" class="form-control" id="name"  name="username" aria-describedby="tkHelp"
                           placeholder="Họ tên" autofocus>
                </div>


                <div class="group-button">
                    <button type="submit">Tiếp tục</button>
                </div>
            </form>

            <!-- Thêm form xác nhận OTP -->
            <form class="otp" id="otpForm" style="display: none;">
                <h4>Nhập OTP</h4>
                <div class="login">
                    <h6>OTP</h6>
                    <input type="hidden" id="idOTP" name="id" value="data.message">
                    <input type="text" class="form-control" id="otpInput" name="otp" aria-describedby="otpHelp"
                           placeholder="Nhập OTP" autofocus>
                </div>
                <button type="button" id="confirmOTPButton">Xác nhận OTP</button>
            </form>

            <form class="newPassword" id="newPassword">
                <input type="text" class="form-control" id="newPasswordUsername" name="username" aria-describedby="tkHelp" placeholder="Họ tên" autofocus  autocomplete="username">

                <div class="login">
                    <h6>Mật khẩu</h6>
                    <input type="password" class="form-control" id="password" name="password" aria-describedby="pwHelp" placeholder="Mật khẩu" autocomplete="current-password">
                </div>
                <div class="login">
                    <h6>Xác nhận mật khẩu</h6>
                    <input type="password" class="form-control" id="re_password" name="re_password" aria-describedby="pwHelp" placeholder="Mật khẩu" autocomplete="current-password">
                </div>
                <div class="group-button">
                    <button type="submit" id="confirmChangePassword">Xác nhận</button>
                </div>
            </form>


        </div>
        <div class="right">
            <img th:src="@{/images/product/anhHoa.png}">
        </div>
    </div>

</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Hide OTP form and new password form initially
        document.getElementById('otpForm').style.display = 'none';
        document.getElementById('newPassword').style.display = 'none';

        // Display forgotPassword form
        document.getElementById('forgotPassword').style.display = 'block';
    });

    var passwordData = {};

    function submitForm() {

        var form = document.getElementById('forgotPassword');
        var formData = new FormData(form);

        console.log("Before fetch");

        fetch('api/verify-email/forgot', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(Object.fromEntries(formData)),
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.success) {
                    console.log('Đăng ký thành công. OTP:', data.message);

                    passwordData = {
                        username: formData.get('username'),  // Include username in passwordData
                        password: formData.get('password'),
                        phone: formData.get('phone'),
                        email: formData.get('email')
                    };

                    // Hide forgotPassword form and display OTP form
                    form.style.display = 'none';
                    document.getElementById('otpForm').style.display = 'block';
                    document.getElementById('idOTP').value = data.message;
                    document.getElementById('newPasswordUsername').value = passwordData.username;
                } else {
                    console.error('Đăng ký thất bại:', data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    document.getElementById('confirmOTPButton').addEventListener('click', function () {
        var otpInputValue = document.getElementById('otpInput').value;
        var otpIdValue = document.getElementById('idOTP').value;

        submitOTP(otpInputValue, otpIdValue);
    });

    function submitOTP(otp, id) {
        var form = document.getElementById('otpForm');
        var formData = {
            otp: otp,
            id: id
        };

        fetch('api/verify/otp', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP Error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    console.log('Xác nhận OTP thành công. Đang chuyển hướng đến trang xác nhận đăng ký.');
                    form.style.display = 'none';
                    document.getElementById('newPassword').style.display = 'block';
                } else {
                    console.error('Xác nhận OTP thất bại:', data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    document.getElementById('confirmChangePassword').addEventListener('click', function () {
        var password = document.getElementById('password').value;
        var rePassword = document.getElementById('re_password').value;
        var userName = document.getElementById('newPasswordUsername').value;

        if (password === rePassword) {
            submitChangePassword(userName, password);
        } else {
            console.log('Mật khẩu và xác nhận mật khẩu không khớp.');
            event.preventDefault();
            document.getElementById('newPassword').style.display = 'block';
            document.getElementById('otpForm').style.display = 'none';
        }

    });

    function submitChangePassword(userName, password) {
        var dataRequest = {
            username : userName,
            password: password
        };

        fetch('api/forgot-password', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(dataRequest),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP Error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                if (data.success) {
                     // This line redirects to '/login'
                    console.log('Xác nhận đổi mật khẩu thành công. Đang chuyển hướng đến trang xác nhận đăng ký.');
                    showPage();
                } else {
                    console.error('Xác nhận đổi mật khẩu thất bại:', data.message);
                    window.location.href = '/';
                }
            })
            .catch(error => {
                console.error('Error:', error);
                window.location.href = '/register';
            });
    }
    function showPage() {
        window.location.replace('/login');
    }
</script>
</body>
</html>